body {
    background-color: rgb(255, 251, 235);
}

.curstep h3 {
    color: rgb(1, 70, 1);
    text-emphasis: bold;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(1, 70, 1);

}

.stepnumber {
    color: rgb(209, 107, 209);
    text-align: center;
}

.stepnumber-completed {
    color: rgb(1, 70, 1);
    text-align: center;
}

.step {
    padding: 5%;
}

.btn-primary {
    background-color: rgb(1, 70, 1);
}

.font-weight-bold {
    text-emphasis: bold;
}
